<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender class="ch.qos.logback.core.ConsoleAppender" name="RootConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>trace</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss},%level,%logger.%method,%thread %message%n</pattern>
		</encoder>
	</appender>
	<root>
		<level value="warn"/>
		<appender-ref ref="RootConsoleAppender"/>
	</root>
</configuration>